<ion-card class="list card">
  <ion-card-header>
          <button ion-button clear icon-only float-right>
              <ion-icon name="close-circle"></ion-icon>
            </button>
    <ion-item>
      <ion-input type="text" placeholder="List title" [(ngModel)]="list.title"></ion-input>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let item of GetNotDoneTask()">
        <button ion-button item-start clear icon-only float-left *ngIf="item.isFocus">
          <ion-icon name="remove-circle"></ion-icon>
        </button> -->
        <ion-checkbox checked="isChecked" [(ngModel)]="item.isDone" item-start *ngIf="!item.isFocus"></ion-checkbox>
        <ion-input type="text" [(ngModel)]="item.text" placeholder="texto tarea" on-focusout="focusOutFunction(item)" on-focusin="focusInFunction(item)" ></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item-divider *ngIf="GetDoneTask().length > 0"></ion-item-divider>
      <ion-item *ngFor="let item of GetDoneTask()">
        <ion-checkbox checked="isChecked" [(ngModel)]="item.isDone" item-start ></ion-checkbox>
        <ion-label fixed style="text-decoration:line-through">{{item.text}}</ion-label>
      </ion-item>
    </ion-list>
    <button ion-button block (click)="AddItem()">Add</button>
  </ion-card-content>
</ion-card>